.search .main{
    form{
        margin-bottom: 20px;
        .submit-button{
            min-width: 0;
            padding: 10px 15px;
        }
        input{
            height: 40px;
            width: 100%;
        }
        .input-container{
            max-width: 100%;
            width: 300px;
            display: flex;
            justify-content: space-between;
        }
        .awesomplete{
            width: calc(100% - 50px);
        }
    }
    .search-results{
        padding: 20px 0;
        ul{
            padding-left: 0;
        }
        li{
            list-style: none;
            margin-bottom: 20px;
            padding-left: 10px;
            .h-readmore span{
                color: $navy;
            }
            &:nth-of-type(even){
                border-left: 3px solid $turquoise; 
            }
            &:nth-of-type(odd){
                border-left: 3px solid $orange;
            }
        }
        a{
            text-decoration: none;
        }
        h3{
            text-transform: uppercase;
        }
        .h-readmore{
            span{
                vertical-align: middle;
                position: relative;
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            }
            &:hover{
                span{
                    left: 5px;
                    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

                }
            }
        }
    }
}