/*************************************************************
   ** @FONT FACES
*************************************************************/

// add @font-face declarations for locally hosted fonts here
// @font-face {
//     font-family: '';
//     src: url('../../../fonts/<filename>');
//     src: url('../../../fonts/<filename>') format('eot'),
//          url('../../../fonts/<filename>') format('woff'),
//          url('../../../fonts/<filename>') format('woff2'),
//          url('../../../fonts/<filename>') format('truetype'),
//          url('../../../fonts/<filename>') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }



/*************************************************************
   ** FONT THEME STYLES
*************************************************************/

/***** DEFAULT FONTS *****/
@mixin font-appearance(){
	text-rendering: optimizeLegibility;
    font-feature-settings: 'kern';
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin default-font($color: $navy) {
	@include font-appearance();
    font-family: $font_body;
    font-size: $base-font-size;
    font-weight:$normal;
    line-height: 1.3;
    color: $color;
}

@mixin default-anchor($color: $navy, $hoverColor: $navy) {
	@include font-appearance();
    font-family: $font_body;
    font-size: inherit;
    font-weight: $bold;
    text-decoration: underline;
    color: $color;
    transition: all 0.35s;
    &:hover,
    &:focus{
        color:$hoverColor;
    }
}

@mixin default-heading($color: $navy) {
	@include font-appearance();
    font-family:$font_heading;
    font-weight: $bold;
    line-height: 1.2;
    color: $color;
}




/***** HEADING MIXINS *****/
@mixin h1($color: $navy) {
    @include default-heading($color);
    font-size: 45px;
    margin: 0.15em 0 0.35em;

    @media screen and (max-width:$mobile){
        font-size:40px;
    }
}

@mixin h1border($color: $navy){
    @include default-heading($color);
    font-size: 45px;
    display: inline-block;
    text-transform: uppercase;
    margin: 40px 0;
    padding: 20px;
    // outline: 2px solid $yellow;
    position: relative;
    // &:after{
    //     content: '';
    //     position: absolute;
    //     top: -10px;
    //     left: -10px;
    //     bottom: -10px;
    //     right: -10px;
    //     border: 2px solid $yellow;
    // }
    @media screen and (max-width:$mobile){
        font-size:40px;
    }
}

@mixin h2($color: $navy) {
    @include default-heading($color);
    font-size: 30px;
    margin: 0.5em 0 0.5em;
    @media screen and (max-width:$mobile){
        font-size:32px;
    }
}

@mixin h3($color: $navy) {
    @include default-heading($color);
    font-size: 28px;
    margin: 0.1em 0 0.3em;

    @media screen and (max-width:$mobile){
        font-size:28px;
    }
}

@mixin h4($color: $navy) {
    @include default-heading($color);
    font-size: 21px;
    margin: 0.1em 0 0.3em;

    @media screen and (max-width:$mobile){
        font-size:24px;
    }
}

@mixin h5($color: $navy) {
    @include default-heading($color);
    font-size: 18px;
    margin: 0.05em 0 0.25em;

    @media screen and (max-width:$mobile){
        font-size:18px;
    }
}

@mixin h6($color: $navy) {
    @include default-heading($color);
    font-size: 16px;
    margin: 0.05em 0 0.25em;

    @media screen and (max-width:$mobile){
        font-size:16px;
    }
}



/***** HEADING CLASSES *****/
h1,
.font--h1 {
    @include h1($navy);
}

h2,
.font--h2 {
    @include h2($navy);
}

h3,
.font--h3 {
    @include h3($navy);
}

h4,
.font--h4 {
    @include h4($navy);
}

h5,
.font--h5 {
    @include h5($navy);
}

h6,
.font--h6 {
    @include h6($navy);
}




/***************************************
    * THEME BASED CLASSES & MIXINS
***************************************/
// The mixins/classes in this section are just examples of mixins to create for your theme
// Identify common text elements across your theme like section headings that you can create a mixin/class for

/***** THEME MIXINS *****/
@mixin subhead--one($color: $navy) {
    @include default-heading($color);
    font-size:11px;
    font-weight:$bold;
    @media screen and (max-width:$mobile){
        font-size:13px;
    }
}


@mixin section__title($color: $navy) {
    @include h3($color);
    text-transform: uppercase;
    text-align:center;
    margin:0 0 0.5em;
    color: $color;
}



/***** THEME CLASSES *****/
// SUBHEADS
.subhead--one{
    @include subhead--one($navy);
}


// SECTION TITLES
.section__title{
    @include section__title($navy);
}




/***************************************
    * STANDARD ELEMENTS & CLASSES
***************************************/
a,
.font--a{
    @include default-anchor();
}

p,
.font--p{
    @include default-font($navy);
    margin:0.1em 0 0.3em;
}

b,
strong {
    font-weight: $bold;
}

iframe{
    max-width: 100%;
}

img {
    max-width: 100%;
    @media screen and (max-width: $mobile) {
        display: block;
    }
}

ul,
ol{
    padding-left: 20px;
}
ul{
    list-style:disc outside;
}
ol{
    list-style:decimal outside;
}
ul ul,
ol ol {
    
}
ul li,
ol li {
    line-height: 1.65;
}



blockquote,
blockquote > p {
	@include font-appearance();
    font-family: $font_body;
    font-weight: $bold;
    font-style:italic;
    text-align: center;
    margin: 60px 1em;
    letter-spacing: 0.025em;
    font-size: 22px;
    line-height: 1.3;
    color: $navy;
    @media screen and (max-width: $mobile) {
        margin: 30px 1em;
		font-size: 21px;
    }
}

cite {
    display: block;
    color: $navy;
    font-size: 65%;
    text-align: center;
    font-style: normal;
    margin-top: 1em;
}

address {
    font-style: normal;
}

sub,
sup {
    font-size: 60%;
    line-height: 0;
    position: relative;
}

sub {
    bottom: -0.2em;
    vertical-align: sub;
}

sup {
    top: -0.75em;
    vertical-align: super;
}
