.category-block{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    a{
        text-decoration: none;
    }
    .category-block{
        height: 0;
        padding-bottom: 70%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        &:hover{
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            h2:after{
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                top: 80%;
                opacity: 1;
            }
        }
        &>div{
            background: rgba($white, .9);
            border-radius: 30px 0;
            padding: 30px;
            max-width: 90%;
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h2{
                text-transform: uppercase;
                text-align: center;
                position: relative;
                &:after{
                    content: '\f178';
                    font-family: $font_awesome;
                    display: block;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    opacity: 0;
                    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                    color: $turquoise;
                }
            }
        }
    }
}